
    <p>I believe that how humanity has operated thus far has big room for improvement. Universal income needs to set humans free. We came here to be not work. Government policy needs to reward and insentivise good behaviour looking after the environment. The companies structure we create should be striving for the common good. I am not advocating some crazy left wing thing. I am just saying we need a new system, yes people should be rewards and some should have more than others but on merit rather than the tired system we have now. If you people just want to take easy then let them I say.</p>

    <p>I got a computer relatively late around 14 or so. I am glad of that and being born in the 90s just before tech took over. I have had a smartphone but now deliberately do not have one. I have at points in my life spent way too much time on the computer. I am now very careful about how I spend time, there is no need for me to have a computer/phone/internet access unless I am working on something that makes it's use essential.</p>
