body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  padding-left: 25px;
  padding-right: 25px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
